@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.logo {
    padding-left: 2rem;
    height: 3rem;
    width: 3rem;
}

body {
    padding-top: 10rem;
    background-color: #313a4b;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*nav bar */
#nav-bar {
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.5);
}

#nav-bar a {
    text-decoration: none;
}

#nav-bar div {
    display: flex;
}

#nav-bar p {
    color: black;
    padding: 1rem 2rem;
    font-size: 20px;
    font-family: "Muli", sans-serif;
    text-decoration: none;

}

/*With help from https://stackoverflow.com/questions/7849112/css-how-to-add-round-corners-when-hover-li-element/7849193*/
#nav-bar p:hover {
    background-color: #a27e2b;
    cursor: pointer;
    color: black;
    border-radius: 10px 10px 10px 10px;
}

.iframe-container {
    text-align: center;
    width: 100%;
}

/*snowflake*/
.fa-snowflake{
    animation: fall  linear forwards;
    color: white;
    position: absolute;
    top: -20px;
    z-index: 10;
}



@keyframes fall  {
    to {
        transform: translateY(105vh);
    }

}