@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

table  {
    border: solid firebrick;
    border-collapse: collapse;
    font-family: "Muli", sans-serif;

}

table th {
    border: solid firebrick;
    padding: 1rem;
    font-family: "Muli", sans-serif;
}